/* ===========================
   General Page
=========================== */

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:"Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    background:#eef3fa;
    color:#23384d;
    /* line-height:1.6; */
}

/* ===========================
   Main Heading
=========================== */

.mainHeading{
    background-color:#0b3c6d;
    color:white;
    text-align:center;
    padding:35px 20px;
    margin-bottom:40px;
    
}

.mainHeading h1{
    font-size:2.2rem;
    font-weight:600;
}

/* ===========================
   Challenge Card
=========================== */

.challengeContent{
    width:90%;
    max-width:900px;
    margin:0 auto 40px;
    background:white;
    border-radius:14px;
    padding:20px 35px;

    background-color: #f5fAff;
}

.challengeList{
    padding-left:25px;
}

.challengeItem{
    margin:14px 0;
}

.challengeItem a{
    display:block;
    text-decoration:none;

    background:#f5f9ff;
    color:#0d3d69;

    border-left:5px solid #174f88;
    border-radius:8px;

    padding:12px 16px;

    font-weight:500;

    transition:.25s;
}

.challengeItem a:hover{
    background:#174f88;
    color:white;

    transform:translateX(6px);
}

/* ===========================
   Responsive
=========================== */

@media (max-width:600px){

    .mainHeading h1{
        font-size:1.7rem;
    }

    .challengeContent{
        width:95%;
        padding:20px;
    }

}