/* General Configuration */

* {
    /* margins are taken from inside */
  box-sizing: border-box;
  margin: 0;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 60px;
}

/* Nav Bar */
.myNavBar
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;

    background-color: #F5F3FF;
    padding: 0 20px;
    z-index: 1000;

    display: flex;
    justify-content: space-between;
    align-items: center;
}
/* I mis-named divisions here: navRight is on the left and navLeft is on the right */
.myNavBar .navRight
{
   display: flex;
   align-items: left;
}

.myNavBar .navRight .helicopterIcon{
    background-color: #8E51FF;
    border-radius: 10px;
    font-size: 30px;
    width: 55px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.myNavBar .navRight .helicopterIcon i{
    color: white;
}

.myNavBar .navRight .pTitle
{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 20px;
}
.myNavBar .navRight .pTitle p{

    font-size: 25px;
    font-weight: bold;
}

.myNavBar .navLeft {
    display: none;
}


/* Home part */
.homeDiv
{
    margin-top: 200px;
    display: flex;
    flex-direction: column;
    /* flex-wrap: wrap; */
    align-items: center;
}

.homeDiv .productImage
{
    padding: 30px;
    width: 80%;
    border: 1px solid #E1E3E7;
    border-radius: 20px;
    position: relative;
}

.homeDiv .productImage img
{
    border: 1px solid #E1E3E7;
    width: 100%;
    border-radius: 20px;

}

.homeDiv .productImage::after
{
    position: absolute;
    content: '12% Off';
    background-color: #8E51FF;
    top: 50px;
    left: 50px;
    font-weight: bold;
    opacity: 1;
    border-radius: 15px;
    padding: 10px;
}

.productDetails{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 80%;
    margin-top: 50px;
    padding: 30px;
}

.productDetails .productTags{
    display: flex;
    flex-direction: row;

}

.productDetails .productTags .productTag{
    background-color: #A684FF;
    padding: 10px;
    border-radius: 10px;
    color: white;
    margin: 10px;
}

.productDetails .productNameh1
{
    padding: 10px;
}

.productDetails .productNameh1 h1
{
    font-size: 48px;
    color: black;
}

.productDetails .productNameh1 h1 span
{
    font-size: 48px;
    color:  #8E51FF;
}

.productDetails .productDescription
{
    width: 100%;
    padding: 10px;
}

.productDetails .productDescription p{
    font-size: 20px;
}

.productDetails .priceBeforeAfter{
    display: flex;
    flex-direction: row;

}

.productDetails .priceBeforeAfter .priceAfter p{
    font-size: 36px;
    font-weight: bold;
}

.productDetails .priceBeforeAfter .priceBefore{
    padding: 10px;
}

.productDetails .priceBeforeAfter .priceBefore p
{
    font-size: 24px;
    text-decoration: line-through;
}

.productDetails .priceBeforeAfter .priceSaving{
    padding: 10px;
    background-color: #FFE2E2;
    border-radius: 10px;
}
.productDetails .priceBeforeAfter .priceSaving p{
    color: #E7000B;
}

.productDetails .productOffer
{
    padding: 10px;
}

.productDetails .btnAddToCart,
.productDetails .btnAddToFavourites
{
    width: 90%;
    transition: 0.2s all;
    margin: auto;
    padding: 5px;
}
.productDetails .btnAddToCart button,
.productDetails .btnAddToFavourites button
{
    width: 100%;
    border-radius: 25px;
    padding: 10px;
    font-size: 18px;
}

.productDetails .btnAddToCart button i,
.productDetails .btnAddToFavourites button i
{
    margin: 10px;
}
.productDetails .btnAddToFavourites button
{
    background-color: white;
    color: black;
    border: 1px solid black;
}
.productDetails .btnAddToCart button
{

    background-color: #8E51FF;
    color: white;

    border: none;
}

.productDetails .btnAddToCart:hover,
.productDetails .btnAddToFavourites:hover
{
    scale: 1.05;
    cursor: pointer ;
}
.productDetails .btnAddToCart button:hover,
.productDetails .btnAddToFavourites button:hover
{
    cursor: pointer ;
}
/* how we compare */
.howWeCompare{
     margin-top: 50px;
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    background-color: #F7F5FF;
}

.howWeCompare .howWeCompreH2
{


    text-align: center;
    width: 80%;
    margin: auto;

}

.howWeCompare .howWeCompreH2 h2
{
    font-size: 36px;
    font-weight: bold;
    color: black;
    padding: 20px;
}
.howWeCompare .howWeCompreH2 h2 span
{
    color:  #8E51FF;
}

.howWeCompare .compareTableHeader
{
    padding: 10px;
    width: 100%;
    text-align: center;
    width: 80%;
margin: auto;
}

.howWeCompare .compareTableHeader p{
    font-size: 20px;
}

.howWeCompare .comparisonTableContainer
{
   
    border: 1px solid violet;
    padding: 20px;
    border-radius: 15px;
    overflow-x: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    width: 80%;
margin: auto;
}

.howWeCompare .comparisonTableContainer table
{

    /* border-collapse : collapse; */
    width: 100%;
    text-align: center;


}
.howWeCompare .comparisonTableContainer table th,
.howWeCompare .comparisonTableContainer table td{
    padding: 10px;
    border-bottom: 1px solid violet;
}

.howWeCompare .comparisonTableContainer table .c11
{
    font-size: 24px;
    font-weight: bold;
}

.howWeCompare .comparisonTableContainer table .tblProdName
{
    font-size: 18px;
    font-weight: bold;
    padding: 10px;
}

.howWeCompare .comparisonTableContainer table .prodRelativity
{
    font-size: 14px;
    font-weight: bold;
    padding: 10px;
    color: gray;

}

.howWeCompare .comparisonTableContainer table .comparisonTableLastRow td
{
    border-bottom: none;
}

.howWeCompare .comparisonTableContainer table .comparisonTableOurProduct{
    background-color: #EDE9FE;
}

.howWeCompare .comparisonTableContainer table .comparisonTableOurProduct .ourProductInfoPiece{
    border-radius: 20px;
    padding: 10px;
    margin: auto;
    width: fit-content;
    background-color: #8E51FF;
    color: white;
    font-weight: bold;
}

.howWeCompare .comparisonTableContainer table .comparisonTableOurProduct .ourProductInfoPiece i{
    padding: 2px;
}
.howWeCompare .comparisonTableContainer table .comparisonTableLastRow .comparisonTableOurProductLast{
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: #EDE9FE;
}
.howWeCompare .comparisonTableContainer table .comparisonTableFirstRow .comparisonTableOurProductFirst{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color: #EDE9FE;
}

.howWeCompare .comparisonTableContainer table .comparisonTableFirstColumn
{
    text-align: left;
}
.howWeCompare .comparisonTableContainer table .comparisonTableLastRow td
{
 font-weight: bold;
}
.howWeCompare .comparisonTableContainer table .comparisonTableLastRow .cOverall
{
    font-size: 20px;
   
}

.howWeCompare .comparisonTableContainer table .comparisonTableCaution
{
    color: orangered;
}

.howWeCompare .comparisonTableContainer table .comparisonTableCostlyPrice
{
    font-size: 20px;
    color: black;
    font-weight: bold;
}

.howWeCompare .comparisonTableContainer table .productRating
{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.howWeCompare .comparisonTableContainer table .productRating .productRatingStars

{
    padding: 10px;
    color: #FDC700;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.howWeCompare .winnerProduct 
{
    padding: 20px;
    color: #00A63E;
    display: flex;
    flex-direction: row;
    margin: 50px auto;
    background-color: white;
    border: 1px solid black;
    border-radius: 10px;
    
}

.howWeCompare .winnerProduct .winnerProductIcon
{
    font-size: 48px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.howWeCompare .winnerProduct .winnerProductP
{
    display: flex;
    flex-direction: column;
    
}

.howWeCompare .winnerProduct .winnerProductP .winnerProductP1
{
    padding: 10px;
    font-size: 18px;
}

.howWeCompare .winnerProduct .winnerProductP .winnerProductP2
{
    padding: 10px;
    font-size: 14px;
}

/* What Our Customers Say */

.ourCustomersSay
{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 95%;
    margin: auto;
}

.ourCustomersSay .customersSayH2
{
   padding: 10px;
    margin: auto;
    text-align: center;
}

.ourCustomersSay .customersSayH2 h2
{
    color: black;
    font-size: 36px;
    font-weight: bold;
}

.ourCustomersSay .customersSayH2 h2 span{
    color: #7F22FE;
}

.ourCustomersSay .customerSayP{
   
padding: 10px;
    margin: auto;
    
}

.ourCustomersSay .customerSayP p
{
    text-align: center;
    font-size: 20px;
}

.ourCustomersSay .ratingReview{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.ourCustomersSay .ratingReview .ratingCard
{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    border: 2px solid #9cb2de;
    border-radius: 20px;
    margin-top: 50px;
    width: 100%;
}

.ourCustomersSay .ratingReview .ratingCard .ratingDegree
{
    margin: 20px auto 10px auto;
}

.ourCustomersSay .ratingReview .ratingCard .ratingDegree p
{
    font-size: 60px;
    font-weight: bold;

}

.ourCustomersSay .ratingReview .ratingCard .ratingStars
{
    margin: auto;
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.ourCustomersSay .ratingReview .ratingCard .ratingStars i
{
    color: #FDC700;
    font-size: 24px;
}

.ourCustomersSay .ratingReview .ratingCard .ratingCount
{
    margin: auto;
    padding: 10px;

}

.ourCustomersSay .ratingReview .ratingCard .ratingCount p
{
    font-size: 16px;
}
/* detailed ratings */
.ourCustomersSay .ratingReview .ratingCard .detailedRatings
{
    /* margin: auto; */
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.ourCustomersSay .ratingReview .ratingCard .detailedRatings .rating1,
.ourCustomersSay .ratingReview .ratingCard .detailedRatings .rating2,
.ourCustomersSay .ratingReview .ratingCard .detailedRatings .rating3,
.ourCustomersSay .ratingReview .ratingCard .detailedRatings .rating4,
.ourCustomersSay .ratingReview .ratingCard .detailedRatings .rating5
{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding: 10px;
    width: 100%;
}

.ourCustomersSay .ratingReview .ratingCard .detailedRatings .rating1 .ratingP,
.ourCustomersSay .ratingReview .ratingCard .detailedRatings .rating1 .percentageP,
.ourCustomersSay .ratingReview .ratingCard .detailedRatings .rating2 .ratingP,
.ourCustomersSay .ratingReview .ratingCard .detailedRatings .rating2 .percentageP,
.ourCustomersSay .ratingReview .ratingCard .detailedRatings .rating3 .ratingP,
.ourCustomersSay .ratingReview .ratingCard .detailedRatings .rating3 .percentageP,
.ourCustomersSay .ratingReview .ratingCard .detailedRatings .rating4 .ratingP,
.ourCustomersSay .ratingReview .ratingCard .detailedRatings .rating4 .percentageP,
.ourCustomersSay .ratingReview .ratingCard .detailedRatings .rating5 .ratingP,
.ourCustomersSay .ratingReview .ratingCard .detailedRatings .rating5 .percentageP
{
    padding: 10px;
}

.ourCustomersSay .ratingReview .ratingCard .detailedRatings .rating1 .progressBackAll,
.ourCustomersSay .ratingReview .ratingCard .detailedRatings .rating2 .progressBackAll,
.ourCustomersSay .ratingReview .ratingCard .detailedRatings .rating3 .progressBackAll,
.ourCustomersSay .ratingReview .ratingCard .detailedRatings .rating4 .progressBackAll,
.ourCustomersSay .ratingReview .ratingCard .detailedRatings .rating5 .progressBackAll
{
    background-color: #E5E7EB;
    border-radius: 20px;
    border: 1px solid transparent;
    padding: 1px;
    width: 100%;
    flex: 1;
    height: 80%;
}

.ourCustomersSay .ratingReview .ratingCard .detailedRatings .progressBackAll .progressPercentage
{
    color: #F0B100;
    height: 100%;        
    background-color:#F0B100; 
    border-radius: 20px;
}
.ourCustomersSay .ratingReview .ratingCard .detailedRatings .progressBackAll .progressPercentage5
{
    width: 78%;
}

.ourCustomersSay .ratingReview .ratingCard .detailedRatings .progressBackAll .progressPercentage4
{
    width: 15%;
}

.ourCustomersSay .ratingReview .ratingCard .detailedRatings .progressBackAll .progressPercentage3
{
    width: 5%;
}

.ourCustomersSay .ratingReview .ratingCard .detailedRatings .progressBackAll .progressPercentage2
{
    width: 1.5%;
}

.ourCustomersSay .ratingReview .ratingCard .detailedRatings .progressBackAll .progressPercentage1
{
    width: 0.5%;
}

.ourCustomersSay .ratingReview .ratingCard .detailedRatings .ratingCardSepLine
{
    background-color: violet;
    width: 80%;
    height: 2px;
}

.ourCustomersSay .ratingReview .ratingCard .ratingCardSepLine
{
    
    background-color: #9cb2de;
    width: 90%;
    padding: 1px;
    margin: 5px 5px 20px 5px;
}

.ourCustomersSay .ratingReview .ratingCard .generalRating
{
    display: flex;
    flex-direction: row;
    align-items:center;
    padding: 15px;
    width: 100%;
    justify-content: space-evenly;
}

.ourCustomersSay .ratingReview .ratingCard .generalRating .wouldRecommend
{
    display: flex;
    flex-direction: column;
    text-align: center;
}



.ourCustomersSay .ratingReview .ratingCard .generalRating .wouldRecommend .wouldRecommendPercentage p,
.ourCustomersSay .ratingReview .ratingCard .generalRating .qualityRating .qualityRatingDegree p
{
    font-size: 24px;
    font-weight: bold;
    padding: 5px;
}

.ourCustomersSay .ratingReview .ratingCard .generalRating .wouldRecommend .wouldRecommendP p,
.ourCustomersSay .ratingReview .ratingCard .generalRating .qualityRating .qualityRatingP p
{
    font-size: 14px;
    padding: 5px;
}



.ourCustomersSay .ratingReview .ratingCard .generalRating .qualityRating
{
    display: flex;
    flex-direction: column;
}

.ourCustomersSay .ratingReview .reviewCards
{
    display: flex;
    flex-direction: column;
    margin: 20px;
    width: 100%;
}

.ourCustomersSay .ratingReview .reviewCards .reviewCard
{
    padding: 15px;
    border: 2px solid #9cb2de;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
    margin: 15px 0;
}

.ourCustomersSay .ratingReview .reviewCards .reviewCard .reviewCardHeading
{
    display: flex;
    flex-direction: row; 
    padding: 10px;
    width: 100%;
}

.ourCustomersSay .ratingReview .reviewCards .reviewCard .reviewCardHeading .reviewerAvatar
{
    margin: 15px;
    width:70px;
    display: flex;
    justify-content: center;
    align-items: center;
} 

.ourCustomersSay .ratingReview .reviewCards .reviewCard .reviewCardHeading .reviewerAvatar img{
    
    width: 70px;
    border: 1px solid black;
    border-radius: 35px;
}
.ourCustomersSay .ratingReview .reviewCards .reviewCard .reviewCardHeading .reviewerInfo
{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-items: flex-start;
    margin: 0 auto;
    flex: 1;
}

.ourCustomersSay .ratingReview .reviewCards .reviewCard .reviewCardHeading .reviewerInfo .reviewerName
{
    padding: 5px;    
}

.ourCustomersSay .ratingReview .reviewCards .reviewCard .reviewCardHeading .reviewerInfo .reviewerName p{
    font-size: 18px;
    font-weight: bold;
}

.ourCustomersSay .ratingReview .reviewCards .reviewCard .reviewCardHeading .reviewerInfo .reviewerJob
{
    padding: 5px;
}

.ourCustomersSay .ratingReview .reviewCards .reviewCard .reviewCardHeading .reviewerInfo .reviewerJob p{
    font-size: 16px;
}

.ourCustomersSay .ratingReview .reviewCards .reviewCard .reviewCardHeading .reviewerInfo .reviewerRating
{
    padding: 5px;
    display: flex;
    flex-direction: row;
}

.ourCustomersSay .ratingReview .reviewCards .reviewCard .reviewCardHeading .reviewerInfo .reviewerRating .reviewerRatingStars
{
    display: flex;
    flex-direction: row;
    align-content: space-around;
    justify-content: center;
    align-items: center;
    color: #FDC700;
}

.ourCustomersSay .ratingReview .reviewCards .reviewCard .reviewCardHeading .reviewerInfo .reviewerRating .reviewerRatingNumber
{
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.ourCustomersSay .ratingReview .reviewCards .reviewCard .reviewCardHeading .reviewerInfo .reviewerRating .reviewerRatingNumber p
{
    font-size: 14px;
}

.ourCustomersSay .ratingReview .reviewCards .reviewCard .reviewCardHeading .reviewMiscInfo
{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.ourCustomersSay .ratingReview .reviewCards .reviewCard .reviewCardHeading .reviewMiscInfo .isVerifiedPurchase
{
    background-color: #EDE9FE;
    padding: 5px;
    border-radius: 10px;
}

.ourCustomersSay .ratingReview .reviewCards .reviewCard .reviewCardHeading .reviewMiscInfo .isVerifiedPurchase p{
    color: #5D0EC0;
}

.ourCustomersSay .ratingReview .reviewCards .reviewCard .reviewCardHeading .reviewMiscInfo .reviewDate
{
    padding: 5px;
}

.ourCustomersSay .ratingReview .reviewCards .reviewCard .reviewCardHeading .reviewMiscInfo .reviewDate p{
    font-size: 14px;
}

.ourCustomersSay .ratingReview .reviewCards .reviewCard .reviewContent
{
    padding: 10px 10px 10px 20px;
}

.ourCustomersSay .ratingReview .reviewCards .reviewCard .reviewContent p
{
    font-size: 18px;
    color: #202020;
    line-height: 1.5; /* a wider line spacing */
}

.ourCustomersSay .ratingReview .reviewCards .btnLoadMoreReviews
{
    width: 50%;
    transition: 0.2s all;
    margin: auto;
    padding: 10px;
    
}
.ourCustomersSay .ratingReview .reviewCards .btnLoadMoreReviews button
{
    width: 100%;
    border-radius: 25px;
    padding: 20px;
    font-size: 18px;
    background-color: #8E51FF;
    color: white;
}

.ourCustomersSay .ratingReview .reviewCards .btnLoadMoreReviews button:hover
{
    cursor: pointer ;
    background-color: white;
    color: #8E51FF;
}

/* complete your setup */
