/* General Configuration */

* {
    /* margins are taken from inside */
  box-sizing: border-box; 
  margin: 0;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 60px;
}

/* Nav Bar */
.myNavBar
{
    position: fixed; 
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;

    background-color: #F5F3FF;
    padding: 0 20px;
    z-index: 1000;

    display: flex;
    justify-content: space-between;
    align-items: center;
} 
/* I mis-named divisions here: navRight is on the left and navLeft is on the right */
.myNavBar .navRight
{
   display: flex;
   align-items: left;
}

.myNavBar .navRight .helicopterIcon{
    background-color: #8E51FF;
    border-radius: 10px;
    font-size: 30px;
    width: 55px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.myNavBar .navRight .helicopterIcon i{
    color: white; 
}

.myNavBar .navRight .pTitle
{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 20px;
}
.myNavBar .navRight .pTitle p{

    font-size: 25px;
    font-weight: bold;
}

.myNavBar .navLeft {
    display: none;
}


/* Home part */
.homeDiv
{
    margin-top: 200px;
    display: flex;
    flex-direction: column;
    /* flex-wrap: wrap; */
    align-items: center;
}

.homeDiv .productImage
{
    padding: 30px;
    width: 80%;
    border: 1px solid #E1E3E7;
    border-radius: 20px;
    position: relative;
}

.homeDiv .productImage img
{
    border: 1px solid #E1E3E7;
    width: 100%;
    border-radius: 20px;

}

.homeDiv .productImage::after
{
    position: absolute;
    content: '12% Off';
    background-color: #8E51FF;
    top: 50px;
    left: 50px;
    font-weight: bold;
    opacity: 1;
    border-radius: 15px;
    padding: 10px;
}

.productDetails{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 80%;
    margin-top: 50px;
    padding: 30px;
}

.productDetails .productTags{
    display: flex;
    flex-direction: row;
    
}

.productDetails .productTags .productTag{
    background-color: #A684FF;
    padding: 10px;
    border-radius: 10px;
    color: white;
    margin: 10px;
}

.productDetails .productNameh1 
{
    padding: 10px;
}

.productDetails .productNameh1 h1
{
    font-size: 48px;
    color: black;
}

.productDetails .productNameh1 h1 span
{
    font-size: 48px;
    color:  #8E51FF;
}

.productDetails .productDescription
{
    width: 100%;
    padding: 10px;
}

.productDetails .productDescription p{
    font-size: 20px;
}

.productDetails .priceBeforeAfter{
    display: flex;
    flex-direction: row;
    
}

.productDetails .priceBeforeAfter .priceAfter p{
    font-size: 36px;
    font-weight: bold;
}

.productDetails .priceBeforeAfter .priceBefore{
    padding: 10px;
}

.productDetails .priceBeforeAfter .priceBefore p
{
    font-size: 24px;
    text-decoration: line-through;
}

.productDetails .priceBeforeAfter .priceSaving{
    padding: 10px;
    background-color: #FFE2E2;
    border-radius: 10px;
}
.productDetails .priceBeforeAfter .priceSaving p{
    color: #E7000B;
}

.productDetails .productOffer
{
    padding: 10px;
}

.productDetails .btnAddToCart,
.productDetails .btnAddToFavourites
{
    width: 90%;
    transition: 0.2s all;
    margin: auto;
    padding: 10px;
}
.productDetails .btnAddToCart button,
.productDetails .btnAddToFavourites button
{
    width: 100%;
    border-radius: 25px;
    padding: 20px;
    font-size: 18px;
}

..productDetails .btnAddToFavourites button
{
    background-color: white;
    color: black;
    border: 1px solid black;
}
.productDetails .btnAddToCart button
{
    
    background-color: #8E51FF;
    color: white;
    
    border: none;
}

.productDetails .btnAddToCart:hover,
.productDetails .btnAddToFavourites:hover
{
    scale: 1.05;
    cursor: pointer ;
}