/* general declarations */

a {
  text-decoration: none;
}

:root {
  --theme-color-1: #ea5a0c;
  --theme-color-2: #f4960b;
  --dark-section-bk: #2b3035;
  --theme-font-face: "Alexandria", sans-serif;
  --extra-bold-font: 900;
  --theme-default-gradient: linear-gradient(
    to left,
    var(--theme-color-1),
    var(--theme-color-2)
  );
  --theme-secondary-gradient: linear-gradient(
    to left,
    var(--theme-color-1),
    var(--theme-color-2),
    var(--theme-color-1)
  );
  --theme-tertiary-gradient: linear-gradient(
    to left,
    var(--theme-color-2),
    var(--theme-color-1)
  );
}

/* Font declarations */

@font-face {
  font-family: "Alexandria";
  src: url("../gFonts/Alexandria-VariableFont_wght.ttf") format("truetype");
  font-display: swap;
}

@font-face {
  font-family: "Cairo";
  src: url("../gFonts/Cairo-VariableFont_wght.ttf") format("truetype");
  font-display: swap;
}

@font-face {
  font-family: "Tajwal";
  src:
    url("../gFonts/Tajawal/Tajawal-Black.ttf") format("truetype"),
    url("../gFonts/Tajawal/Tajawal-Bold.ttf") format("truetype")
      url("../gFonts/Tajawal/Tajawal-ExtraBold.ttf") format("truetype")
      url("../gFonts/Tajawal/Tajawal-ExtraLight.ttf") format("truetype")
      url("../gFonts/Tajawal/Tajawal-Light.ttf") format("truetype")
      url("../gFonts/Tajawal/Tajawal-Medium.ttf") format("truetype")
      url("../gFonts/Tajawal/Tajawal-Regular.ttf") format("truetype");
  font-display: swap;
}
/* general font classes */
.applyThemeFont {
  font-family: var(--theme-font-face);
}

.fw-dynamic {
  font-weight: var(--weight, 400); /* Defaults to 400 if no value is passed */
}

.divGradientBackground {
  background-image: var(--theme-default-gradient);
}
.gradientTextBase {
  background-clip: text;
  display: inline-block;
  color: transparent;
  font-family: var(--theme-font-face), sans-serif;
}
.gradientText {
  background-image: var(--theme-default-gradient);
}

/* code font classes */
.codeComment {
  color: #62748e;
}

.codeKeyword {
  color: #c27aff;
}

.codeVarName,
.codeBoolValue {
  color: #51a2ff;
}
.codeAttrName {
  color: #05df72;
}
.codeStringVal {
  color: #fcc800;
}
.codePunctuation {
  color: white;
}
.tabFormat {
  white-space: pre;
  tab-size: 2;
}
.tabFormatDouble {
  white-space: pre;
  tab-size: 4;
}
/* animations */
@keyframes spin_ccw {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes spin_cw {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}

@keyframes bounce {
  0%,
  100% {
    animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
    transform: translateY(-25%);
  }
  50% {
    animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
    transform: none;
  }
}
@keyframes gradName {
  0%,
  100% {
    background-image: var(--theme-default-gradient);
  }
  33% {
    background-image: var(--theme-secondary-gradient);
  }
  66% {
    background-image: var(--theme-tertiary-gradient);
  }
}
/* navbar start */
.navBarLinks {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.navBarLinks li {
  padding: 8px;
  font-size: 16px;
  font-weight: var(--extra-bold-font);
  font-family: var(--theme-font-face);
}

.navBarLinks .nav-item .nav-link.active {
  color: var(--theme-color-2);
  text-decoration: underline;
}
/* navbar end */

/* hero section start */
#hero-section {
  background-color: #f2f6fa;
  .container {
    max-width: 100%;

    .c2 {
      width: 100%;
      @media screen and (min-width: 62rem) {
        width: 50%;
      }
      .acrobatics {
        width: 23.125rem;
        height: 23.125rem;
        @media screen and (min-width: 48rem) {
          width: 29.375rem;
          height: 29.375rem;
        }

        .dashedCircle {
          border-style: dashed;
          color: var(--theme-color-2);
          width: 21.875rem;
          height: 21.875rem;
          border-radius: 50%;
          margin: auto;
          animation: spin_cw 1.5s linear infinite;
          position: absolute;
          @media screen and (min-width: 48rem) {
            width: 28.125rem;
            height: 28.125rem;
          }
        }
        .solidCircle {
          border: 0.125rem solid var(--theme-color-1);
          width: 17.5rem;
          height: 17.5rem;
          border-radius: 50%;
          margin: auto;
          position: absolute;
          @media screen and (min-width: 48rem) {
            width: 23.75rem;
            height: 23.75rem;
          }
        }
        .codeIcon {
          font-size: 1.25rem;
          font-weight: bold;
          background-color: white;
          transform: translateX(-3.125rem), translateY(-3.125rem);
          animation: bounce 3s infinite;
        }
        .devPhoto {
          --border-thickness-grad: 12px;
          width: 265px;
          padding: var(--border-thickness-grad);
          background-image: var(--theme-default-gradient);
          @media screen and (min-width: 48rem) {
            width: 320px;
          }
        }
      }
    }
    .c1 {
      width: 100%;
      @media screen and (min-width: 62rem) {
        width: 50%;
      }
      .developerInfo {
        .devNameGrad {
          animation: 1s infinite gradName ease-in-out;
          h1 {
            font-size: 2.25rem;

            @media screen and (min-width: 768px) {
              font-size: 3.75rem;
            }
            @media screen and (min-width: 992px) {
              font-size: 4.375rem;
            }
          }
        }
        .developerSpecialization {
          .devIcon {
            background-color: var(--theme-color-1);
            font-size: 24px;
          }
          .specName {
            font-size: 16px;
          }
        }
        .heroButtons {
          a {
            padding: 0.3125rem;
            font-size: 1.25rem;
          }
          i {
            padding: 0.3125rem;
            font-size: 2rem;
            font-weight: bold;
          }
          .exploreAnchor {
            background-image: var(--theme-default-gradient);
          }
        }
        .stackButtons {
          .stackButton {
            margin: 0.25rem;
          }
        }
        .promise {
          font-size: 32px;
        }
        .promise span {
          color: var(--theme-color-2);
        }
        .stackButtons {
          .stackButton {
            display: flex;
            align-items: center;
            justify-content: space-between;
            flex-direction: row;
            padding: 0.3125rem;
            border: 0.125rem solid black;
            border-radius: 0.625rem;
            p {
              margin: 0.3125rem;
              font-size: 1rem;
              font-weight: bold;
            }
            i {
              padding: 0.3125rem;
              font-size: 1.5rem;
            }
          }
        }
      }
    }
  }
}
/* hero section end */

/* about me start */
#about {
  .container-fluid {
    width: 100%;
    .aboutMeText {
      p {
        color: var(--theme-color-1);
      }
    }
    .aboutMeName {
      h2 {
        font-size: 2.25rem;
        font-weight: 900;
        @media screen and (min-width: 768px) {
          font-size: 3rem;
        }
      }
    }
    .nameUnderline {
      width: 102px;
      height: 3.2px;
      color: transparent;
    }
    .aboutMeContent {
      .c1 {
        width: 100%;
        @media screen and (min-width: 62rem) {
          width: 50%;
        }
        h3 {
          span {
            color: var(--theme-color-2);
          }
        }
        .infoPills {
          .pill-1,
          .pill-2,
          .pill-3 {
            margin: 0.25rem;
          }
          .pill-1 i,
          .pill-2 i,
          .pill-3 i {
            color: var(--theme-color-1);
          }
        }
        .iPresent {
          p {
            i {
              color: var(--theme-color-2);
            }
          }
          ul {
            list-style: none;
            li {
              display: flex;
              flex-direction: row;
              align-items: center;
              justify-content: flex-start;
            }
          }
        }
      }
      .c2 {
        width: 100%;
        @media screen and (min-width: 992px) {
          width: 50%;
        }
        .codeEditor {
          .codeEditorHead {
            background-color: #1d293d;
          }
          .codeEditorContent {
            background-color: #0f172b;
            direction: ltr;
            text-align: left;
            p {
              font-size: 0.6563rem;

              @media screen and (min-width: 576px) {
                font-size: 0.875rem;
              }
              @media screen and (min-width: 768px) {
                font-size: 1rem;
              }
            }
          }
        }
        .achievements {
          margin-bottom: 2rem;
          .ach1,
          .ach3 {
            background-color: #f8fafc;
            margin-inline: 0.5rem;
            flex-grow: 1;
            .achHead {
              font-weight: 900;
              font-size: 1.5rem;
              color: var(--theme-color-2);
              @media screen and (min-width: 576px) {
                font-size: 2rem;
              }
            }
            .achUnitName {
              font-size: 0.6563rem;
              @media screen and (min-width: 576px) {
                font-size: 0.875rem;
              }
            }
            p {
              margin-bottom: 0.25rem;
            }
          }
          .ach2 {
            background-color: #f8fafc;
            flex-grow: 1;
            .achHead {
              font-weight: 900;
              font-size: 1.5rem;
              color: var(--theme-color-1);
              @media screen and (min-width: 576px) {
                font-size: 2rem;
              }
            }
            .achUnitName {
              font-size: 0.6563rem;
              @media screen and (min-width: 576px) {
                font-size: 0.875rem;
              }
            }
            p {
              margin-bottom: 0.25rem;
            }
          }
        }
        .socialMediaIcons {
          .socialMediaIcon {
            padding: 0.75rem;
            font-size: 1rem;
            background-color: #f8fafc;
            border: 1px solid black;
            border-radius: 10px;
          }
        }
      }
    }
  }
}
/* about me end */
