a {
  text-decoration: none;
}

@font-face {
  font-family: "Alexandria";
  src: url("../gFonts/Alexandria-VariableFont_wght.ttf") format("truetype");
  font-display: swap;
}

@font-face {
  font-family: "Cairo";
  src: url("../gFonts/Cairo-VariableFont_wght.ttf") format("truetype");
  font-display: swap;
}

@font-face {
  font-family: "Tajwal";
  src:
    url("../gFonts/Tajawal/Tajawal-Black.ttf") format("truetype"),
    url("../gFonts/Tajawal/Tajawal-Bold.ttf") format("truetype")
      url("../gFonts/Tajawal/Tajawal-ExtraBold.ttf") format("truetype")
      url("../gFonts/Tajawal/Tajawal-ExtraLight.ttf") format("truetype")
      url("../gFonts/Tajawal/Tajawal-Light.ttf") format("truetype")
      url("../gFonts/Tajawal/Tajawal-Medium.ttf") format("truetype")
      url("../gFonts/Tajawal/Tajawal-Regular.ttf") format("truetype");
  font-display: swap;
}

:root {
  --theme-color-1: #ea5a0c;
  --theme-color-2: #f4960b;
  --dark-section-bk: #2b3035;
  --theme-font-face: "Alexandria", sans-serif;
  --extra-bold-font: 900;
  --theme-default-gradient: linear-gradient(
    to left,
    var(--theme-color-1),
    var(--theme-color-2)
  );
  --theme-secondary-gradient: linear-gradient(
    to left,
    var(--theme-color-1),
    var(--theme-color-2),
    var(--theme-color-1)
  );
  --theme-tertiary-gradient: linear-gradient(
    to left,
    var(--theme-color-2),
    var(--theme-color-1)
  );
}

.fw-dynamic {
  font-weight: var(--weight, 400); /* Defaults to 400 if no value is passed */
}

.divGradientBackground {
  background-image: var(--theme-default-gradient);
}
.gradientTextBase {
  background-clip: text;
  display: inline-block;
  color: transparent;
  font-family: var(--theme-font-face), sans-serif;
}
.gradientText {
  background-image: var(--theme-default-gradient);
}

@keyframes spin_ccw {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes spin_cw {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}

@keyframes bounce {
  0%,
  100% {
    animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
    transform: translateY(-25%);
  }
  50% {
    animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
    transform: none;
  }
}
@keyframes gradName {
  0%,
  100% {
    background-image: var(--theme-default-gradient);
  }
  33% {
    background-image: var(--theme-secondary-gradient);
  }
  66% {
    background-image: var(--theme-tertiary-gradient);
  }
}
/* navbar start */
.navBarLinks {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.navBarLinks li {
  padding: 0.5rem;
  font-size: 1rem;
  font-weight: var(--extra-bold-font);
  font-family: var(--theme-font-face);
}

.navBarLinks .nav-item .nav-link.active {
  color: var(--theme-color-2);
  text-decoration: underline;
}
/* navbar end */

/* hero section start */
#hero-section {
  background-color: #f2f6fa;

  .container .c2 {
    width: 100%;
    @media screen and (min-width: 992px) {
      width: 50%;
    }
    .acrobatics {
      width: 370px;
      height: 370px;
      @media screen and (min-width: 768px) {
        width: 470px;
        height: 470px;
      }

      .dashedCircle {
        border-style: dashed;
        color: var(--theme-color-2);
        width: 350px;
        height: 350px;
        border-radius: 50%;
        margin: auto;
        animation: spin_cw 1.5s linear infinite;
        position: absolute;
        @media screen and (min-width: 768px) {
          width: 450px;
          height: 450px;
        }
      }
      .solidCircle {
        border: 2px solid var(--theme-color-1);
        width: 280px;
        height: 280px;
        border-radius: 50%;
        margin: auto;
        position: absolute;
        @media screen and (min-width: 768px) {
          width: 380px;
          height: 380px;
        }
      }
      .codeIcon {
        font-size: 20px;
        font-weight: bold;
        background-color: white;
        transform: translateX(-50px), translateY(-50px);
        animation: bounce 3s infinite;
      }
      .devPhoto {
        --border-thickness-grad: 0.75rem;
        width: 16.5625rem;
        padding: var(--border-thickness-grad);
        background-image: var(--theme-default-gradient);
        @media screen and (min-width: 768px) {
          width: 20rem;
        }
      }
    }
  }
  .container .c1 {
    width: 100%;
    @media screen and (min-width: 992px) {
      width: 50%;
    }
    .developerInfo {
      .devNameGrad {
        animation: 1s infinite gradName ease-in-out;
      }
      .developerSpecialization {
        .devIcon {
          background-color: var(--theme-color-1);
          font-size: 1.5rem;
        }
        .specName {
          font-size: 1rem;
        }
      }
      .heroButtons {
        a {
          padding: 5px;
          font-size: 20px;
        }
        i {
          padding: 5px;
          font-size: 32px;
          font-weight: bold;
        }
        .exploreAnchor {
          background-image: var(--theme-default-gradient);
        }
      }
      .promise {
        font-size: 2rem;
      }
      .promise span {
        color: var(--theme-color-2);
      }
      .stackButtons {
        .stackButton {
          display: flex;
          align-items: center;
          justify-content: space-between;
          flex-direction: row;
          padding: 5px;
          border: 2px solid black;
          border-radius: 10px;
          p {
            margin: 5px;
            font-size: 16px;
            font-weight: bold;
          }
          i {
            padding: 5px;
            font-size: 24px;
          }
        }
      }
    }
  }
}
/* hero section end */

/* new discoveries */
/* d-inline-flex => inline (autosize) + flex for it's children */
